body {
    overflow: hidden !important;
}

.main-container {
    overflow-y: auto;
    height: calc(100vh - 70px);
}

.postgram-title {
    color: #c13584;
    text-transform: uppercase;
}

.profile-photo {
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    border: 2px solid #c13584;
}

.cursor-pointer {
    cursor: pointer;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.input-group {
    width: auto !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.action-button {
    background-color: #c13584 !important;
    color: white !important;
}

/*navbar*/
.navbar {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 10% !important;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    box-shadow: 0 15px 10px -15px #cfd4d9;
    position: fixed;
    height: 70px;
}

/*profile*/
.profile-section {
    background-color: #f3f6f9;
}

/*page-not-found*/
.page-not-found {
    color: #c13584;
    height: 100vh;
    text-align: center;
}

/*login and singup*/
.login-main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin: 4px;
}

.login-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.login-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

/*posts*/
.search-feed .input-group-text {
    background-color: #f3f6f9 !important;
    border-right: none !important;
}

.search-feed .form-control {
    background-color: #f3f6f9 !important;
    border-left: none !important;
}

.feed-main-container {
    background-color: #f3f6f9;
    display: flex;
    justify-content: space-evenly;
}

.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-card {
    width: 600px;
    min-height: 600px;
    max-height: 600px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin: 4px;
}

.post-photo {
    width: 100% !important;
    height: 100% !important;
    border-radius: 4px;
}

.post-description {
    max-height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

/*converstions and messages*/
.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chat-menu {
    flex: 3.5;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.chat-box {
    flex: 5.5;
}

.chat-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: beige;
}

.chat-box-top {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chat-box-bottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-message-input {
    width: 90%;
    height: 90px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.chat-menu-wrapper,
.chat-box-wrapper {
    padding: 10px;
    height: 100%;
}

.no-conversation-text {
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
    text-align: center;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.message-text {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.message-bottom {
    font-size: 12px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own .message-text {
    background-color: rgb(245, 241, 241);
    color: black;
}

.chats-title {
    height: 70px !important;
    color: #c13584;
    font-width: bold;
}

.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.conversation:hover {
    background-color: #c13584;
}

.current-conversation {
    background-color: #c13584;
    color: white;
    font-weight: bold;
}

/*react-bootstrap*/
.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle{
    background: transparent !important;
    border: none !important;
}

.dropdown-item:hover {
    background-color: #c13584 !important;
    color: white !important;
}

/*modal*/
.modal {
    display: block !important;
}

.modal-dialog {
    box-shadow: rgb(0 0 0 / 50%) 1px 1px 10px;
}

.modal-content {
    border: none !important;
    border-radius: 0 !important;
}

/*pagination*/
.pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.page-item {
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.page-item:hover {
    background-color: #e6e6e6;
}

.page-item.active {
    background-color: #007bff;
    color: #fff;
}

.page-item.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.page-link {
    color: #007bff;
    text-decoration: none;
}

.pagination > li {
    list-style: none;
}

.pagination > li > a,
.pagination > li > span {
    float: left;
    padding: 8px 20px;
    line-height: 1.5;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination > li.active > a {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.pagination > li > a:hover {
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
}


