body {
    overflow: hidden !important;
}

.main-container {
    overflow-y: auto;
    height: calc(100vh - 70px);
}

.App {
    background-color: white;
}

.feed-main-container {
    background-color: #f3f6f9;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postgram {
    color: #c13584;
    text-transform: uppercase;
}

.w-30 {
    width: 30%;
}

.profile-section {
    background-color: #f3f6f9;
}

.login-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin: 4px;
}

.login-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.login-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.mid {
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
    margin: auto;
    box-shadow: 0 15px 10px -15px #cfd4d9;
    position: fixed;
    height: 70px;
}

.navbar {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 10% !important;
}

.navbar li {
    list-style: none;
    display: inline-block;
    margin: auto;
}

.navbar li a {
    text-decoration: none;
    color: rgb(29, 25, 231);
    font-size: 18px;
    padding: 8px 20px;
}

.navbar li a:hover {
    color: rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
}

.navbar li a:active {
    background-color: deepskyblue;
    border-radius: 5px;
}

.right {
    background-color: aqua;
    display: inline-block;
    width: 8%;
    font-size: 18px;
    padding: 18px 26px;
    color: #1d19e7;
}

.right a {
    text-decoration: none;
}

.right:hover {
    font-weight: bolder;
}

.left {
    background-color: aqua;
    display: inline-block;
    width: 17%;
    font-size: 18px;
    padding: 18px 17px;
    color: #1d19e7;
}

.left a {
    text-decoration: none;
}

.left:hover {
    font-weight: bolder;
}

.img-size {
    width: 100% !important;
    height: 100% !important;
}

.profile-photo {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 2px solid #c13584;
}

.modal {
    display: block !important;
}

.modal-dialog {
    box-shadow: rgb(0 0 0 / 50%) 1px 1px 10px;
}

.modal-content {
    border: none !important;
    border-radius: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.page-item {
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.page-item:hover {
    background-color: #e6e6e6;
}

.page-item.active {
    background-color: #007bff;
    color: #fff;
}

.page-item.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.page-link {
    color: #007bff;
    text-decoration: none;
}

.pagination > li {
    list-style: none;
}

.pagination > li > a,
.pagination > li > span {
    float: left;
    padding: 8px 20px;
    line-height: 1.5;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination > li.active > a {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.pagination > li > a:hover {
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
}

.input-group {
    width: auto !important;
}

.search-feed .input-group-text {
    background-color: #f3f6f9 !important;
    border-right: none !important;
}

.search-feed .form-control {
    background-color: #f3f6f9 !important;
    border-left: none !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.post-card {
    width: 600px;
    height: 600px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin: 4px;
}

.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu {
    flex: 3.5;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox {
    flex: 5.5;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: beige;
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 90%;
    height: 90px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatMenuWrapper,
.chatBoxWrapper {
    padding: 10px;
    height: 100%;
}

.noConversationText {
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .chatMenu {
        flex: 1;
    }

    .chatMenuInput {
        display: none;
    }

    .chatBox {
        flex: 10;
    }
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: rgb(245, 241, 241);
    color: black;
}

.chats-title {
    height: 70px !important;
    color: #c13584;
    font-width: bold;
}

.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.conversation:hover {
    background-color: #c13584;
}

.current-conversation {
    background-color: #c13584;
    color: white;
    font-weight: bold;
}
